/* * {
  font-family: "Poppins", sans-serif;
} */

@media screen and (max-width: 1000px) {
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
  }
}

.bg-img {
  background-image: url(bg-4.png);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

img {
  width: 70%;
  height: fit-content;
  display: block;
  margin: auto;
  position: relative;
}
